<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <!--Add To Enviroment variable for development-->
    <!--<link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#MyNavbarItems" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="MyNavbarItems">
            <div class="navbar-nav mr-auto">
                <a asp-controller="Home" asp-action="Index" class="nav-item navbar-brand">MyBrand</a>
                <a href="#" class="nav-item nav-link active">Home</a>
                <a asp-controller="Home" asp-action="Create" class="nav-item nav-link">Create</a>
            </div>
        </div>

    </nav>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <script src="~/js/JSBundle.min.js"></script>
    @RenderSection("Scripts", false);
</body>
</html>