@model GameViewModel

<h1>Hello from create</h1>

<form method="post" asp-controller="Home" asp-action="Create" enctype="multipart/form-data">
    <span asp-validation-for="Error" class="text-danger"></span>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" placeholder="Name of game">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input type="number" asp-for="Price" step="0.01" class="form-control" placeholder="Price of game">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Genre"></label>
        <select class="form-control" asp-for="Genre">
            @foreach (string genre in Enum.GetNames(typeof(Genre)))
            {
                <option>@genre</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="GameImage"><i><b>Input for the game image. Note that the image is optional and can be added or updated at a later point.</b></i></label>
        <input asp-for="GameImage" class="form-control-file" style="width:220px">
        <span asp-validation-for="GameImage" class="text-danger"></span>
    </div> 
    <button class="btn btn-primary">Create</button>
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> @TempData["Success"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        TempData["Success"] = null;
    }
</form>